/* info product */
.buttonInfoCard{
    cursor:pointer;
}
    .buttonInfoCard:hover{
    color:#f48026;
}


/* title product card */
.cardHeader{
    font-size: 11px;
    height: 1rem;
    font-weight: 500;
}


/* name product card */
.cardBody{
    font-size: 13px;
    height: 3rem;
    font-weight: 700;
    margin:0 10px;
}


/* price product card */
.cardPrice{
    font-weight: 500;
    color:#f48026;
    margin:20px 0 0 10px;
}



/* title button card */
.cardButton{
    background: #f48026;
    color:white;
    margin:10px;
}
    .cardButton:hover{
        background: #272829;
        color:#f48026;
    }

/* active button card */
.activeButton{
    background: #272829;
    color:white;
    margin:10px;
    }
    .activeButton:hover{
        background: #272829;
        color: #f48026;
        }



