/* info product */
.buttonInfoCard{
    cursor:pointer;
}
    .buttonInfoCard:hover{
    color:#f48026;
}

.card-img-top:hover{
    padding:10px;
    transition: 0.4s;

}

/* title product card */
.cardHeader{
    font-size: 11px;
    height: 1rem;
    font-weight: 500;
}


/* name product card */
.cardBody{
    font-size: 13px;
    height: 3rem;
    font-weight: 700;
    margin:0 10px;
}


/* price product card */
.cardPrice{
    font-weight: 500;
    color:#f48026;
    margin:20px 0 0 10px;
}



/* title button card */
.cardButton{
    background: #f48026;
    color:white;
    margin:10px;
}
    .cardButton:hover{
        background: #272829;
        color:#f48026;
    }

/* active button card */
.activeButton{
    background: #272829;
    color:white;
    margin:10px;
    }
    .activeButton:hover{
        background: #272829;
        color: #f48026;
        }

.buttonsType{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type1, .type2, .type3, .type4, .type5{
    border: none;
    width: 250px;
    height: 100px;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-size: 13px;
    font-weight: 700;
    filter: grayscale(100%);
    border-radius: 25px;
}
.type1, .type2, .type3, .type4, .type5:hover{
    background-color: #f48026;
}

.type1{
    background-image: url(../../assets/img/all.jpg);

}
    .type1:hover{
        filter: grayscale(0%);

    }

.type2{
    background-image: url(../../assets/img/demolicion.webp);
}
    .type2:hover{
        filter: grayscale(0%);
    }

.type3{
    background-image: url(../../assets/img/impacto.jpeg);
}
    .type3:hover{
        filter: grayscale(0%);
    }

.type4{
    background-image: url(../../assets/img/madera.jpg);
}
    .type4:hover{
        filter: grayscale(0%);
    }

.type5{
    background-image: url(../../assets/img/metal.jpg);
}
    .type5:hover{
        filter: grayscale(0%);
    }

