.cardCart{
    font-size: 13px;
    padding: 10px;
    box-shadow: 5px 10px 18px #f0f0f0;
    margin-bottom: 10px;
    cursor: pointer;

}

.cardCart:hover{
    color:#f48026;
    box-shadow: 5px 10px 18px #dadada;
    
    
}

.removeButton{
    color: #8c3535;
}

.addButton{
    color: #37662c;
}

.paidButton{
    background: #272829;
    color: white;
}
    .paidButton:hover{
        background: #f48026;
        color: white;
}   