.scrollElement{
    height: 350px;
    overflow-y: scroll;
    border:1px solid rgba(0, 0, 0, 0.1);
    padding:20px;
    
}

.scrollElement::-webkit-scrollbar {
    width: 10px;            
  }
  
  .scrollElement::-webkit-scrollbar-track {
    background: #ebebeb;        
    border-radius: 20px; 
  }
  
  .scrollElement::-webkit-scrollbar-thumb {
    background-color: #f48026;    
    border-radius: 20px;       
    border:2px solid  #ebebeb;
  }


.itemDivCart{
    width:100%;
}

.titleNameCard{
    font-weight: 500;
    cursor: pointer;
}
.titleNameCard:hover{
    color: #f48026;
}

.img-fluid{
    cursor: pointer;
    width:50px;
}


.removeButton{
    color: #8c3535;
    font-size: small;
    cursor:pointer;
}

.addButton{
    color: #37662c;
    font-size: small;
    cursor:pointer;
}

.paidButton{
    background: #272829;
    color: white;
}
    .paidButton:hover{
        background: #f48026;
        color: white;
}   


.deleteButton{
    color:#8c3535;
    font-size: small;
    cursor:pointer;
}
    .deleteButton:hover{
        color:#8c3535;
    }


