.titleNameCard{
    font-weight: 500;
    cursor: pointer;
}
.titleNameCard:hover{
    color: #f48026;
}

.img-fluid{
    cursor: pointer;
}


.removeButton{
    color: #8c3535;
}

.addButton{
    color: #37662c;
}

.paidButton{
    background: #272829;
    color: white;
}
    .paidButton:hover{
        background: #f48026;
        color: white;
}   


.deleteButton{
    color:#272829;
    width: 10%;
    border: none;
    background: none;
}
    .deleteButton:hover{
        color:#8c3535;
    }


.textPriceCard{
    font-weight: 500;
    margin-right: 20px;
    }