*{
    margin:0;
    padding:0;
  }


nav{
    background: #f48026;
    height: 95px;
    margin-bottom: 100px;
}


.navbar-toggler{
  border: none;
} 
  
  
a img{
  width:100px;
  object-fit: contain;
}

  
.nav-link{
  color:white;
}

  
.nav-link:hover{
  color:#272829;
}


.dropdown{
  background: #f48026;
}

    
a{
  text-decoration: none;
  color:white;
}


.blackOffert{
  width:100%;
  background:#272829;
  color: white;
  font-size: 12px;
  height:20px;
}

.dropdown-menu{
  align-items: flex-start;
  width:500px;
}

.cartButton{
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cartButton:hover{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}